# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Yarn integrity file
.yarn-integrity

# IntelliJ IDE
.idea

# Build directory
dist

# Dotenv configuration
.env

# Visual Studio Code
.vscode
